<!--div>
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <small>Published: {{post.date}}</small>
</div-->



<div class="card-body">
  <h3 class="card-title">{{post.title}}</h3>
  <p class="card-text">{{post.content}}</p>
  
  <button type="button" class="btn btn-primary btn-sm btn-danger" (click)="delete()">Delete</button>
  <button type="button" class="btn  btn-sm btn-outline-danger ml-2" (click)="plusLike()">&#9829;&#65291;</button>
  <span class="ml-2" style="color:#dc3545">{{post.likes}}</span>
  <button type="button" class="btn  btn-sm btn-outline-danger ml-2" (click)="minusLike()">&#9829;&#65293;</button>

  <small class="text-muted px-4">{{post.date}}</small>
</div>
